
/*
 * main.css
 */

.app-container {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.app-header {
    display: flex;
    flex: 0 0;
    min-height: 40px;
}

.app-header .navbar {
   padding:  2px 12px;
}


.app-main {
    display: flex;
    flex: 1;
}

.app-footer {
    display: flex;
    flex: 0;
    min-height: 14px;
    background: #00aaaa;
}

.app-footer p {
   padding: 0px;
   margin:  0px 12px;
   color: #000000;
}

.footer-content {
    width: 100%;
}

.app-footer .text-warning {
    color: #aa0000;
}

.footer-text {
    width: 100%;
}


/* --------- WEATHER -------- */
.weather-box {
    margin: 0px 20px;
    width: 400px;
    background: grey; 
    padding: 10px;

    color: black;
}

.weather-frame {
    border: 2px solid black;
    position: relative;
    padding-top: 10px;
}

.weather-frame p {
    margin: 10px;
}

.weather-frame h1 {
    position: absolute;
    top: -10px;
    left: 20px;
    padding: 0px 4px;
    background: grey;
}

.weather-frame table {
  margin: 10px;
}

.weather-frame .weather-astronomy {
    width: 100%;
}


.weather-frame .weather-conditions th {
    width: 150px;
}



